<div class='book_search'>
  <h1>Book search</h1>
  <%= form_tag root_path, method: :get do %>
    <div class='input'>
      <%= text_field_tag :book_title, nil, placeholder: 'Type the book title' %>
      <%= submit_tag 'Search' %>
    </div>
    <div class='clearfix'>
  <% end %>

  <ul>
    <% @books.each do |book| %>
      <li><%= book.title %></li>
    <% end %>
  </ul>
</div>
