/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background: whiteSmoke;
  font-family: Arial;
}

.book_search {
  width: 500px;
  display: block;
  margin: 10% auto;
  padding: 20px;
  background: white;
}

input#book_title {
  width: 80%;
  display: inline-block;
}

ul {
  margin-top: 30px;
  list-style: none;
}
li {
    font-family: Arial;
    color: rgba(black, 0.6);
    font-size: 15px;
    margin-bottom: 5px;
    display: block;
}
